body{
    background-color: #F7ECDE !important;
}

.title1{
    color: #352E28;
    font-family: "Pacifico", cursive;
    font-size: 50px;
    font-weight: 500;
    
}
.dotted-line{
    border: 1px dotted #352E28;
    margin: 10px auto 30px auto;
    width: 80%;
}
.gradient-text{
    background-image: linear-gradient(to right,#3FA65C , #B2AC49 );
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: 500;
}



